[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pytest = "*"
engorgio = {editable = true,path = "."}
coverage = "*"
pytest-cov = "*"
flake8 = "*"
pytest-timeout = "*"

[requires]
python_version = "3.7"
